.cart {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border-left: 1px solid black;
  height: 100%;
  padding: 12px;
}

.dishes {
  margin-bottom: 10px;
}

.clearCart {
  border: none;
  color: red;
  background-color: white;
  font-weight: 500;
  font-size: 11pt;
  cursor: pointer;
}

.cartTitle{
  font-size: 18pt;
  font-weight: 400;
  margin-bottom: 4px;
  
}

.deliverBy{
  font-size: 11pt;
  font-weight: 300;
  color: #777;
  margin-bottom: 4px;
}
.cartDescription{
  font-size: 11pt;
  font-weight: 450;
  color: #333;
}
