@use '../../utils/break';

.menuSection {
  margin-top: -3px;
}

.name {
  text-transform: uppercase;
  color: #222;
}

.description {
  color: #777;
  width: 650px;
  margin-bottom: 30px;

  @include break.under(large) {
    width: 500px;
  }

  @include break.under(medium) {
    width: 390px;
  }
}

.dishes {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}
