.addEditDishModal {
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;

  background: RGBA(0, 0, 0, 0.7);

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modalCard {
  width: 200px;
  background: white;
}

.header {
}

.closeButton {
}

.details {
}

.name {
}

.description {
}

.note {
}

.inputWrapper {
}

.notes {
}

.footer {
  display: flex;
  justify-content: space-between;

  button:only-child {
    margin-left: auto;
  }
}
