@use '../../config/layout' as layout;
@use '../../utils/break';

.app {
  @include break.under(xlarge) {
    background: pink;
  }

  @include break.under(large) {
    background: darkorchid;
  }

  @include break.under(medium) {
    background: darkgoldenrod;
  }

  @include break.under(small) {
    background: darkblue;
  }

  @include break.under(small) {
    background: darkred;
  }
}

.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: layout.$header-height;
  width: 100%;
  background: white;
  z-index: 3;
}

.aboutAndCartRow {
  display: flex;
  gap: layout.$horizontal-gap;

  margin-top: layout.$header-height;
  padding-left: layout.$about-left-padding;
}

.aboutColumn {
}

.aboutWrapper {
}

.navAndMenuRow {
  display: flex;
  gap: layout.$horizontal-gap;

  padding-top: layout.$vertical-gap;
}

.navWrapper {
  flex-basis: layout.$nav-width;
  flex-shrink: 0.5;

  @include break.under(xlarge) {
    display: none;
    background: magenta;
  }
}

.menuWrapper {
  flex-grow: 1;

  // prevent slight shift as the cart is shown and hidden
  @include break.under(xlarge) {
    max-width: layout.$menu-max-width;
  }
}

.cartWrapper {
  flex-shrink: 0;
  width: layout.$cart-width;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}
