.app {
}

.headerWrapper {
  height: 60px;
}

.aboutAndCartRow {
  display: flex;
  gap: 30px;

  padding-left: 30px;
}

.aboutColumn {
}

.aboutWrapper {
  padding: 30px 0 44px;
}

.navAndMenuRow {
  display: flex;
  gap: 30px;
}

.navWrapper {
  flex-basis: 240px;
  flex-shrink: 0.5;
}

.menuWrapper {
  flex-grow: 1;
}

.cartWrapper {
  width: 280px;
  flex-shrink: 0;
}
