@use '../../config/layout' as layout;

.app {
}

.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: layout.$header-height;
  width: 100%;
  background: white;
  z-index: 3;
}

.aboutAndCartRow {
  display: flex;
  gap: layout.$horizontal-gap;

  margin-top: layout.$header-height;
  padding-left: layout.$about-left-padding;
}

.aboutColumn {
}

.aboutWrapper {
}

.navAndMenuRow {
  display: flex;
  gap: layout.$horizontal-gap;

  padding-top: layout.$vertical-gap;
}

.navWrapper {
  flex-basis: layout.$nav-width;
  flex-shrink: 0.5;
}

.menuWrapper {
  flex-grow: 1;
}

.cartWrapper {
  flex-shrink: 0;
  width: layout.$cart-width;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}
