$base-width-unit: 120px;

$horizontal-gap: 30px;
$vertical-gap: 30px;
$header-height: 60px;
$about-left-padding: 30px;
$nav-width: 220px;
$menu-max-width: 870px;
$cart-width: 300px;
$cart-height: calc(100vh - #{$header-height});
