.recipeCard {
    width: 500px;
    min-height: 60px;
    padding: 10px;
    padding-left: 0;

    &:hover {
      transition: box-shadow 0.3s ease-in-out;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    }
}

.recipeName{
    font-size: 12pt;
    font-weight: 500;
    color: #222;
    margin: 0;
    margin-bottom: 5px;
}

.recipeDescription{
    font-size: 10pt;
    font-weight: 350;
    color: #777;
    margin: 0;
    margin-bottom: 5px;
    width: 400px;
}
