.cartDishCard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;

  padding: 0 12px;
}

.name {
  font-weight: 500;
}

.remove {
  color: red;
  cursor: pointer;
  border: none;
}
