.cartDishCard {
  display: flex;
  flex-direction: column;
  gap: 4px;

  padding: 10px 12px;
  margin-top: 10px;
  
  cursor: pointer;

  border-top: 1px solid #ccc;
}

.name {
  font-size: 12pt;
  font-weight: 600;
}

.notes {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  font-size: 10pt;
  font-weight: 300;
  color: #333;
  margin-bottom: 12px;

  .notesLabel {
    font-weight: 500;
  }

  .edit {
    display: inline;
    cursor: pointer;
    border: none;
    background: none;
    font-weight: 500;

    .editIcon{
      background: none;
      margin-left: 4px;
      height: 16px;
      filter: invert(24%) sepia(60%) saturate(464%) hue-rotate(114deg) brightness(97%) contrast(84%);
      border: none;
      cursor: pointer;
    }
  }

  
}
